<h1><%= @details["Title"]%></h1>
<img src="<%=@details["Poster"] %>">
<div class="list">
	<ul>
		<li>Year: <%=@details["Year"]%></li>
		<li>Rated: <%=@details["Rated"]%></li>
		<li>Released: <%=@details["Released"]%></li>
		<li>Run Time: <%=@details["Runtime"]%></li>
		<li>Genre: <%=@details["Genre"]%></li>
		<li>Plot Summary: <blockquote><%=@details["Plot"]%></blockquote></li>
		<li>IMDB Ratings: <%=@details["imdbRating"]%></li>
		<li>Director: <%=@details["Director"]%></li>
		<li>Actor: <%=@details["Actors"]%></li>
	</ul> 
</div>